<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://223.197.92.128:8080/Public/app/GRGCSS.ipa</string>
                </dict>
                <dict>
17                     <key>kind</key>
18                     <string>full-size-image</string>
19                     <key>needs-shine</key>
20                     <false/>
21                     <key>url</key>
22                     <string>http://223.197.92.128:8080/Public/app/logo_512.png</string>
23                 </dict>
24                 <dict>
25                     <key>kind</key>
26                     <string>display-image</string>
27                     <key>needs-shine</key>
28                     <false/>
29                     <key>url</key>
30                     <string>http://223.197.92.128:8080/Public/app/logo_57.png</string>
31                 </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.grgcss.jupsh</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>GRG CSS</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
